@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* navbar styles */
.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-item {
    font-size: 1.2rem;
}

.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.display-flex {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-right: 30px;

}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;

}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}

.btn-bg {
    background-color: #FF900E;
}

.text-btn {
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 600px;
    margin-bottom: 50px;
    border: none;
}

/* banner styles */
.banner {
    text-align: center;
}

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;

}

.banner-title {
    font-size: 4rem;
    font-weight: bold;

}

.banner-des {
    font-size: 1rem;
    margin-bottom: 32px;

}

.banner-img {
    width: 100%;
    margin-bottom: 45px;
}

/* responsive media query */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }
}